.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;


    .product-card {
        overflow: hidden;
        width: 300px;
        text-align: left;

        .product-image {
            width: 100%;
            height: auto;
        }

        .product-name {
            font-size: 0.7rem;
            color: #000;
            margin-bottom: 5px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .product-price {
            font-size: 0.7rem;
            color: #000;
        }
    }
}